body {
  background-color: cornsilk;

  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;

  margin-top: 30rem;
}

label {
  display: flex;
  flex-direction: column;

  margin-bottom: 5px;
}

.input-error {
  border: 2px solid red;
  background-color: #fdd;
}

.input-success {
  border: 2px solid green;
  background-color: #dfd;
}



